{% extends  'base.html.twig' %}
{% block body %}
   
    <h1> Bienvenue dans ce système d'évaluation !</h1>
   
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum iure repellendus, 
    non aspernatur hic itaque praesentium dolorum reprehenderit illum delectus excepturi velit, totam, 
    similique ad et fuga optio ut cum natus? Perspiciatis amet quisquam eum fugit iusto iste earum.</p>
    <p>Perspiciatis optio quae earum. Assumenda incidunt dolor alias sequi tenetur exercitationem, minus,
    laborum natus sint dicta dolores. Dolorum, qui sit, quisquam vel et autem veniam necessitatibus in itaque, 
    maiores quas voluptatibus asperiores fugiat. Suscipit architecto reiciendis harum laudantium, ipsam aliquid!</p>

{% endblock %}